.wrapper {
    width: 100%
}
.img_info {
    width:100%;
}
.img_info p {
    padding: 0px 30px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    color: black;
}
.img-man{
    width: 100%;
}
@media only screen and (min-width:768px){

.wrapper {
    width: 600px;
    margin: 0 auto;
}
.img_info p {
    padding: 20px 0px 0px;
}
.img-man{
   padding-top: 0%;
}
}

@media only screen and (min-width:1000px){
    
    .wrapper {
        width: 1000px;
    }

    .img_info {
        width:50%;
        float: right;
    }

    .img_info p {
        padding: 20px 0px 0px 30px;
    }

    .img-man{
        padding-top: 0%;
        width: 50%;
        float: left;
     }
     
    /**.box{
        width: 20%;
        height: 20%;
        padding: 5px;
        position: relative;
        background-color: #fd7abf;
        float: left;
        margin: 20%;
        
    }**/
    