input[type=text],[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .form_bg {
    width:30%;
    border-radius: 5px;
    background-color: rgb(204, 200, 200);
    padding: 20px;
  }

  .logo_{
    width: 2%;
    height: 20%;
    border-radius: 5px;
    background: #4CAF50;
    color: aliceblue;
    text-align: center;
    font-size: 30px;
}

.pstyle2
        {
           display: flex;
           font-weight: bold;
           padding: 10px;
           color: #4CAF50;
        }
.body_ali{
    align-items: center;
}

.foot{
    width: 32%;
    border-radius: 5px;
    color: black;
    text-align: center;
    border: 1px solid gray;
    margin-top: 10px;
}

.header{
    display: flex;
}