.table_bor{
        border: 1px solid black;
        max-width: 400px;
        border-radius: 4px;
        list-style-type: none; 
      }
s
      .line_bott{
        border-bottom: 1px solid black;
        
      }
      .data_center{
        text-align:right;
      }
      ul li {
        margin: 20px;
      }
      
      .notification {
          background-color:blue;
      }
      div {
        width: 15px;
        padding: 2px;
        border: 0px solid gray;
        margin: 0;
        border-radius: 4px;
        color:yellow;
      }